[phases.setup]
nixPkgs = ['nodejs_22', 'pnpm']

[phases.install]
cmds = [
  'pnpm install --frozen-lockfile',
  'npx prisma generate'
]

[phases.build]
cmds = ['pnpm run build']

[start]
cmd = 'pnpm run start:prod'
